body{
	margin: 0;
	padding: 0;

}
.main{
	width: 100%;
	height: 100vh;
	background-image: url(img/sun.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	overflow: hidden;
	
}
.field{
	width: 450px;
	background-color:#FF8484;
	box-shadow:0 0 20px 0 #999;
	top: 53%;
	left: 50%;
	transform: translate(-50%,-50%);
	position: absolute;
}
form{
	margin: 20px;

}
.info{
	width: 400px;
	height: 30px;
	margin-left: 0px;
	border:1px solid#777;
	border-radius: 14px;
	outline: none;
}
textarea{
	height: 150px;
	width:400px;
}
.socialsites{
	width: 80px;
	text-align: center;
	position: absolute;
	top:50%;
	left:96%;
	transform: translateY(-50%);

}
.socialsites img{
	width: 45px;
	margin: 5px auto;
	cursor: pointer;

}
h1{
	color:white;
	font-size: 35px;
	text-align: center;
	padding-top: 30px;
	background:linear-gradient(#f32170,#ffeb07,#2196f3,#ff00eb);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;

}
nav{
	background:linear-gradient(-45deg, rgb(35, 213, 171), rgb(62, 50, 168), rgb(238, 119, 82));
	width:100%;
	overflow: auto;
	display: inline-flex;	
}
.menu{
	margin:0px;
	padding: 0px;
	list-style: none;
	width: 100%;
	overflow: auto;
}
.option{
	float: left;
	display: block;
	width:120px;
	text-align: center;
	color: white;
	padding: 20px 10px;
}
.option:hover{
	background:skyblue;
	color: black;
	cursor:pointer;
}
.sites img{
	width:45px;
	margin: 5px ;
	cursor: pointer;

}
.sites{
	letter-spacing: 10px;
	float: right;
	padding-right: 20px;
}