body{
	margin: 0;
	padding: 0;

}
.main{
	width: 100%;
	height: 100vh;
	background-image: url(img/sun.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	overflow: hidden;
}
.content{
	color:#f27507;
	position: absolute;
	top: 35%;
	left: 25%;
	transform: translate(-50%);
	border:10px dotted #e3aa24;
	width: 500px;
	height: 230px;
	text-align: center;
	
	
}
button{
	color:skyblue;
	padding:10px 25px;
	background: transparent;
	border:1px solid #FFF;
	border-radius: 20px;
	cursor:pointer;
	margin-right: 15px;
}
button:hover{
	background: purple;
}
h1{
	
	-webkit-animation:glow 5s linear infinite;
	letter-spacing: 5px;
}
p{
	letter-spacing: 2px;
	font-size: 25px;
}
small{
	letter-spacing: 1px;
}

@keyframes glow
{
	0%,18%,20%,30%,50.1%,60%,75.1%,88%
	{
		color: blueviolet;
	
	}
	18%,20.1%,30.1%,40%,52%,70%,80.1%,90%,92.1%,100%
	{
		color:skyblue;
	}
}

nav{
	background:linear-gradient(-45deg, rgb(35, 213, 171), rgb(62, 50, 168), rgb(238, 119, 82));
	width:100%;
	overflow: auto;
	display: inline-flex;	
}
.menu{
	margin:0px;
	padding: 0px;
	list-style: none;
	width: 100%;
	overflow: auto;
}
.option{
	float: left;
	display: block;
	width:120px;
	text-align: center;
	color: white;
	padding: 20px 10px;
}
.option:hover{
	background:skyblue;
	color: black;
	cursor:pointer;
}
a{
	color: white;
}
.sites img{
	width:45px;
	margin: 5px ;
	cursor: pointer;

}
.sites{
	letter-spacing: 10px;
	float: right;
	padding-right: 20px;
}
.picture img{
	height: 55vh;
	clip-path: circle(42%);
}
.picture{
	display: flex;
	flex-direction: row;
	padding-top: 7%;
	padding-left: 54%;

}
.bar{
	width: 35px;
	height: 30px;
	margin: 20px 3.5px 8px 20px;
	display: none;
	cursor: pointer;
}
.line{
	height: 5px;
	width: 100%;
	background-color: #b81568;
	display: block;
	border-radius: 5px;
}
#line1{
	transform: translateY(-4px);
}
#line3{
	transform: translateY(4px);
}
.field{
	width: 450px;
	background-color:#FF8484;
	box-shadow:0 0 20px 0 #999;
	top: 43%;
	left: 50%;
	transform: translate(-50%,-50%);
	position: relative;
}
form{
	padding-top: 8px;
	padding-bottom: 7px;
	margin: 20px;

}
.info{
	width: 400px;
	height: 30px;
	margin-left: 0px;
	border:1px solid#777;
	border-radius: 14px;
	outline: none;
}
textarea{
	height: 150px;
	width:400px;
}
.socialsites{
	width: 80px;
	text-align: center;
	position: absolute;
	top:50%;
	left:96%;
	transform: translateY(-50%);

}
.socialsites img{
	width: 45px;
	margin: 5px auto;
	cursor: pointer;

}

.gallery{
	margin:90px;
	border: solid white;
	float: left;
	width:390px;
	background-color: white;
	cursor: pointer;
	animation: animate 3s linear;
}
@keyframes animate{
	40%{
		transform: rotateY(90deg);
	}
	60%{
		transform: rotateY(-90deg);
	}
}
.gallery img{
	width: 100%;
	height:300px;
}
h3{
	color: black;
	text-align: center;
}
.content1{
	position: relative;
	width: 60%;
	height:40%;
	top:0.5%;
	left:3%;
	background:white;
	display: grid;
	grid-template-columns: 1fr 2fr;
}
.leftside{
	position: relative;
	background-color: skyblue;
	padding: 40px;
}
.rightside{
	position: relative;
	background-color: white;
	padding: 40px;
}
.image img{
	height: 40vh;
	clip-path: circle(42%);	
}
.profile{
	position: relative;
	display: flex;
	flex-direction: column;
	text-align: center;
	border-bottom: 1px solid white;
}
.contact img{
	width:25px;
	height: 15px;
}
ul{
	display: inline;
}
h6{
	color: black;
	font-size: 1.5em;
	margin-top: 5px;
	font-weight: 600;
	line-height: 1.4em;
}
h2{
	letter-spacing: 2px;
	color: purple;
}
.about p{
	font-size: 20px;
}
.Year_Education{
	width: 250px;
}
h5{
	color:red;
}
.box{
	display:flex;
	justify-content: space-between;
}
.main1{
	width: 100%;
	height: 150vh;
	background-image: url(img/sun.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	overflow: hidden;
}
.content3{
	position: relative;
	width: 80%;
	height:90%;
	top:0.5%;
	left:10%;
	background:#FCEACE;
}
@media(max-width: 800px){
	nav .menu{
		height: 100vh;
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 10;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: white;
		transition: top 1s ease;
		display: none;
	}
	nav .bar{
		display: block;
	}


	
